
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-variation-settings: "wdth" 100; 
}

.jio{display: flex;
justify-content: space-between;
 
}
.heal{max-width: 1440px;
background-image: url("/images/Hero-bg.png")
;
height: 200px;
}
.lam{color: #4E47FF;}
  .btn{
  color: white;
  font-size: large;
  
  background-color: #4E47FF;
border-radius: 10px;
padding: 0 auto;
height: 40px;
weight: 132px;
font-style: bold;
}
.middle{text-align: center;

padding: 0 auto;
}
.pic{background-image: url("/images/Hero-bg.png");max-width: 3900px;margin: 0 auto;}
.btn2{margin: 20px 100px 100px 80px;}
.mar{max-width: 1140px;
margin: 80px 175px 125px;

}

.all{display:flex;
  padding: 0 auto;
gap: 300px;
justify-content: space-between;
} 
.image-cont{
  border-radius: 48px;
  height: 228px;
  width: 303px;
}
.cize{
  font-size: 12px;
  margin-bottom: 23px;
}
.third{
  background-color: #4d47ff1a;
text-align: center;
list-style: none;
margin-top: 126px;
height: 220px;
padding: 50px 142px;
border-radius: 24px;

}
.iteams{display: flex;
  justify-content: space-between;
  margin: 0px 40px;
}
.text-wrap{

  margin: ;
  gap: 100px;
  border-radius: 30px;
  
  


}
.tex{margin: 5px;
  background-colorbrown;}

.text-pio{
  font-size: 40px;
font-size: 50px;
  margin: 5px;
font-weight: bold;
color: #4E47FF;}
.text-bol{font-weight: 8;}
.about-iteam{
  margin: 40px 10px;
}